/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [JobName]
      ,[SourceSchema]
      ,[SourceTableOrView]
      ,[DestinationSchema]
      ,[DestinationStagingSchema]
      ,[DestinationTable]
      --,[ExtractionSQL]
      --,[HighWaterColumn]
      --,[FilenameTemplate]
      --,[Enabled]
      --,[FullCopyOnNextRun]
      --,[SortOrder]
      --,[HighWaterMark]
      ,[ExtractionTimeUTC]
      ,[LastSuccessfulDelta]
      ,[LastSuccessfulFull]
      --,[RowCountSource]
      --,[RowCountSink]
      --,[HighWaterMarkSCN]
      --,[HighWaterMarkNumber]
  FROM [Any2Omnia].[Jobs_Datasets]
  where JobName='Safran'